<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" sizes="16x16" rel="icon" href="/icons8-restaurant-16.png">
    <title>Panel Administratora</title>
    <link rel="stylesheet" href="/admin-styles.css">
    <style>
        .btn-cancel-reservation {
            padding: 10px 20px;
            background-color: #FFA500; /* Kolor przycisku */
            background-color: #FFD700; /* Kolor przycisku */
            font-size: 15px;
            color: #333; /* Kolor tekstu */
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            border: none; /* Usunięcie obramowania */
            cursor: pointer; /* Zmiana kursora na wskaźnik */
        }

        .btn-cancel-reservation:hover {
            background-color: #FF8C00; /* Kolor przycisku po najechaniu */
        }
    </style>
    <script>
        async function cancelReservation(id) {
            try {
                const response = await fetch(`/cancel/${id}`, {
                    method: 'DELETE',
                });
                if (response.ok) {
                    location.reload();
                } else {
                    console.error('Failed to cancel reservation');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>
</head>
<body>
    <h1>Panel Administratora - Rezerwacje</h1>
    <table>
        <thead>
            <tr>
                <th>Imię</th>
                <th>Email</th>
                <th>Liczba osób</th>
                <th>Data</th>
                <th>Godzina</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <% reservations.forEach(function(reservation) { %>
                <tr>
                    <td><%= reservation.name %></td>
                    <td><%= reservation.email %></td>
                    <td><%= reservation.people %></td>
                    <td><%= reservation.date.toDateString() %></td>
                    <td><%= reservation.time %></td>
                    <td>
                        <button class="btn-cancel-reservation" onclick="cancelReservation('<%= reservation._id %>')">Anuluj rezerwację</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
